<a href="https://colab.research.google.com/github/antonioscript/SQL/blob/main/SQLipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Integração Python e MySQL

#0 - CONEXÃO

In [ ]:
import mysql.connector

mydb = mysql.connector.connect (
	host = "localhost", 
	user = "root",
	password = "#",
	database = "universidade"
)
mycursor = mydb.cursor()

#1 - MOSTRANDO TODOS OS DATABASES

In [ ]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
	print(x)

#2 - CRIANDO TABELA

In [ ]:
mycursor.execute("CREATE TABLE alunos (name VARCHAR(255), curso VARCHAR (255))")

#3 - MOSTRANDO A TABELA

In [ ]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
	print(x)

#4 - CRIANDO CHAVE PRIMÁRIA DA TABELA

In [ ]:
mycursor.execute("CREATE TABLE discentes (id INT AUTO_INCREMENT PRIMARY KEY, nome VARCHAR (255), curso VARCHAR (255))")

#5 - INSERT

In [ ]:
sql = "INSERT INTO discentes (nome, curso) VALUES (%s,%s)"
val = ("Catarina", "Engenheria Renováveis")
mycursor.execute(sql, val)
mydb.commit()
print(mycursor.rowcount, "registro(s) inserido")

#6 - INSERT MÚLTIPLOS

In [ ]:
sql = "INSERT INTO discentes (nome, curso) VALUES (%s,%s)"
val = [
	("Antônio", "Engenharia de Alimentos"),
	("Jhonatan", "Engenharia de Materiais"),
	("Letícia", "Administração"), 
	("Deybison", "Medicina"), 
	("Jackson", "Filosofia"), 
	("Laura", "Administração"),
	("Peter", "Engenharia Mecânica"), 
	("Mutano", "Veterinária"),
	("Diana", "Artes"),
	("Klaus", "Análise de Sistemas"),
	("Clarck", "Jornalismo"),
	("Kamala", "Ciẽncias Políticas"),
	("Zattana", "Astronomia")
]
mycursor.executemany(sql, val)#obs: 'many'
mydb.commit()
print(mycursor.rowcount, "registros inseridos")

#7 - SELECT (MOSTRANDO OS REGISTROS)

In [ ]:
mycursor.execute("SELECT * FROM discentes")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

#8 - SELECT COLUMNS

In [ ]:
mycursor.execute("SELECT nome FROM discentes") #Selecionando apenas os nomes
myresult = mycursor.fetchall()
for x in myresult:
	print(x)

#9 - WHERE

In [ ]:
sql = "SELECT * FROM discentes WHERE curso = 'Filosofia'" #Retorna quem faz Filosofia

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

#10 - ORDER BY

In [ ]:
sql = "SELECT * FROM discentes order by nome " #DESC
mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

#11 - DELETE

In [ ]:
sql = "DELETE FROM discentes WHERE nome = 'Laura'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "registro(s) deletado")

#12 - DELETE TABLE

In [ ]:
sql = "DROP TABLE alunos"
mycursor.execute(sql)

#13 - UPDATE

In [ ]:
sql = "UPDATE discentes SET curso = 'Análise de Sistemas' WHERE curso = 'Engenharia de Alimentos' "
mycursor.execute(sql)
mydb.commit
print(mycursor.rowcount, "registro(s) afetado")

#14 - LIMIT

In [ ]:
mycursor.execute("SELECT * FROM discentes LIMIT 5") #5 Primeiros
myresult = mycursor.fetchall()

for x in myresult:
	print(x)